In [1]:
import pandas as pd

#Raw file to load
purchase_data = "Resources/purchase_data.csv"

#Read CSV file - if your data has some punctuation add this code(encoding="utf-8") to read the data
purchase_data_pd = pd.read_csv(purchase_data, encoding="utf-8")
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
data_df = pd.read_csv(purchase_data)

#Create a data frame displaying the total number of players
total_players = [{'Total Players': str(len(data_df['SN'].value_counts()))}]
data_df = pd.DataFrame(total_players, index =['0'])
data_df

  Total Players
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Create a summary data frame of unique items, average price, etc.

groupby_gender_df = pd.read_csv(purchase_data, encoding="utf-8")
items_count = purchase_data_pd["Item ID"].nunique()
gender_df = groupby_gender_df.groupby(["Gender"])

average_prices = purchase_data_pd["Price"].mean()
average_price = average_prices

total_orders = purchase_data_pd["Purchase ID"].count()

total_revenue = average_prices * total_orders

#Display the summary data frame
summary_result = pd.DataFrame({"Number of Unique Items":[items_count],
                              "Average Price": [average_price],
                              "Number of Purchases": [total_orders],
                               "Total Revenue": [total_revenue]})

summary_result["Total Revenue"] = summary_result["Total Revenue"].astype(float).map("${:,.2f}".format)
summary_result["Average Price"] = summary_result["Average Price"].astype(float).map("${:.2f}".format)

summary_result

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Group purchase_data by Gender
index = ["Male", "Female", "Other / Non-Disclosed"]
groupby_df = pd.DataFrame({"Total Count" : groupby_gender_df["Gender"].value_counts(),
                               "Percentage of Players" : (groupby_gender_df["Gender"].value_counts()/groupby_gender_df["Gender"].count())/1})

# Format with currency style
groupby_df["Percentage of Players"] = groupby_df["Percentage of Players"].astype(float).map("{:.2%}".format)

groupby_df.style


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
total_gender = gender_df.nunique()["SN"]
purchase_count = groupby_gender_df["Gender"].value_counts()

avg_price = gender_df["Price"].mean()

total_value = avg_price * purchase_count
average_purch = total_value / total_gender

purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                       "Average Purchase Price": avg_price,
                                       "Total Purchase Value": total_value,
                                       "Avg Total Purchase per Person": average_purch})

purchasing_analysis_df.index.name = "Gender"
index = ["Male", "Female", "Other / Non-Disclosed"]
purchasing_analysis_df.style.format({"Total Purchase Value":"${:,.2f}",
                                     "Average Purchase Price":"${:,.2f}",
                                     "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
data_pd = pd.read_csv(purchase_data)

# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_ranger = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

data_pd["AgeG"] = pd.cut(data_pd["Age"],age_bins, labels=age_ranger)

group_age = data_pd.groupby("AgeG")
total_age = group_age["SN"].nunique()

total_player = len(data_pd["SN"].value_counts())

# Calculate percentages by age category 
percent_by_age = (total_age / total_player) * 100

age_demographics = pd.DataFrame({"Total Count": total_age,
                                "Percentage of Players": percent_by_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_age = group_age["Purchase ID"].count()
avg_pur_price = group_age["Price"].mean()
avg_purch_price = avg_pur_price.round(2)

purch_value = group_age["Price"].sum()
total_per_persons = purch_value/total_age
total_per_person = total_per_persons.round(2)

age_analysis= pd.DataFrame({"Purchase Counts": purchase_age,
                            "Average Purchase Price": avg_purch_price,
                            "Total Purchase Value": purch_value,
                            "Avg Total Purchase per Person": total_per_person})

age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_analysis["Avg Total Purchase per Person"] = age_analysis["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

age_analysis.index.name = "Age Ranges"
age_analysis.style

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
top_spenders = pd.read_csv(purchase_data)
screen_name = top_spenders.groupby("SN")

pur_count = screen_name["Purchase ID"].nunique()
pur_price = screen_name["Price"].mean()
purchase_price = pur_price.round(2)
purchase_value = screen_name["Price"].sum()

spenders_name = pd.DataFrame({"Purchase Count" : pur_count,
                              "Average Purchase Price" : purchase_price,
                             "Total Purchase Value" : purchase_value,})

spenders_name = spenders_name.sort_values("Total Purchase Value", ascending=False).head()
spenders_name["Average Purchase Price"] = spenders_name["Average Purchase Price"].astype(float).map("${:,.2f}".format)
spenders_name["Total Purchase Value"] = spenders_name["Total Purchase Value"].astype(float).map("${:,.2f}".format)

spenders_name.index.name = "SN"
spenders_name.style

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
popular_items = top_spenders.groupby(["Item ID", "Item Name"])

pur_count = popular_items["Purchase ID"].nunique()
total_pur = popular_items["Price"].sum()
purchase_value = popular_items["Price"].count()
item_price = total_pur/purchase_value

popular_items = pd.DataFrame({"Purchase Count" : pur_count,
                              "Item Price": item_price,
                              "Total Purchase Value" : total_pur})

popular_items = popular_items.sort_values("Purchase Count", ascending=False).head()

popular_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
#Sort data frame by total purchase value
popular_items = popular_items.sort_values("Total Purchase Value", ascending=False).head()
popular_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})